/*
 Theme Name:   WP Loans
 Theme URI:
 Description:  WP Loans
 Author:
 Author URI:
 Template:     borrow
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  wp-loans-child
*/

@import url("../borrow/style.css");
 
/* =Theme customization starts here
------------------------------------------------------- */
:root{
    --primary: #5bb6dd;
    --accent: #f8853e;
    --text-color:#797b80;
    
    --border:1px solid #f0f0f0;
    --border-card:1px solid #d3dbea;
	--bg-card: #f7fafd;
	
	--text-dark:#a1abb1;
}
body:not(.home){
    padding-top:50px;
}
/*utilities */
.card{
    border-radius:0;
    background:white;
    box-shadow: 0 5px 20px -4px rgba(0,0,0,.05);
    border:none;
}
/*header */
#sticky-wrapper{
    position:absolute;
    width:100%;
    top:0;
}
.header{
    background-color: white;
    box-shadow: 0 5px 20px -4px rgba(0,0,0,.05);
    height:50px;
    padding:0;
}
.home .header{
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
    background:transparent;
	border:none;
	padding:10px 0;
	height:70px;
}
.home .is-sticky .header{
    background-color: #f7f7f8;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.15);
}
.logo img{
	height:auto;
	padding:20px 0;
	object-fit:contain;
}
/* navigation */
#navigation{
    margin:0;
}
#navigation li a{
    padding:18px 0;
}
/* sidebar */
.content-side-wrap{
    background:#30323b;
    max-width:230px;
    margin-top:-50px;
    z-index:999;
}
.content-side{
	position:sticky;
	top:0;
}
.content-side #secondary .widget{
    background-color: transparent;
	padding:0;
	margin:0;
}
.content-side .widget-title{
    display: none;
}
.content-side .border-right{
    border-right:none !important;
}
.content-side ul{
	margin:0 -15px;
}
.content-side li{
	border-bottom:none;
}
.content-side a{
    color:inherit;
    display:block;
    padding:18px 25px;
}
.content-side .current_page_item a,
.content-side a:hover{
    color:inherit;
	background-color: #46464d;
}
.content-side i.fa{
	width: 30px;
	color:var(--text-dark);
	transition:none;
}
.content-side .current_page_item a i.fa,
.content-side a:hover i.fa{
	color:var(--primary);
}
.content-side a.side-logo {
    padding:0;
    height:50px;
    line-height:50px;
    padding-left:10px;
}
.content-side a.side-logo:hover{
    background:none;
}
/* page content*/
.content-wrap>.container-fluid>.row{
    min-height:calc(100vh - 78px - 379px - 39px);
}
.min-vh>.row{
    min-height:calc(100vh - 39px);
}
.page-title{
    margin-bottom:40px;
}
.content-body .wpb_row{
    margin:0 -15px;
}
.content-body .container{
    margin:0;
}
/* loan providers */
.card.form-card{
  padding:0 15px;
}
.wpb_raw_code.wpb_content_element.wpb_raw_html{
  margin-bottom:0 !important;
}
#top-provider .col-12 .d-flex{
  margin-bottom:10px;
}
#top-provider .d-flex label{
  width:120px;
}
.provider-wrap.card{border-radius:0;}
.provider-img img{max-height:80px; object-fit: contain; object-position: left top;}
.provider-note {min-height: 16px;}
.provider-wrap label{display:block; margin-bottom: 5px;}
.provider-wrap b{font-weight:500;}
.provider-wrap .btn{letter-spacing:0; padding: 20px 25px;}
.provider-wrap .rating-stars{
	--star-size: 18px;
  	--star-color: #d8d8d8;
  	--star-background: #ffb900;
	--percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.provider-wrap .rating-stars:before {
  content: "\f005 \f005 \f005 \f005 \f005";
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.response-time{margin-bottom:5px;}
.trust-score span{font-size:10px;}

/* sliders style */
#fbuilder .dfield .slider{
	border: none;
    border-radius: 0;
    height: 7px;
    background: #eee;
}
.ui-slider-horizontal .ui-slider-range-min{
	background:var(--primary);
	border-radius: 0;
}
#fbuilder .ui-slider-horizontal .ui-slider-handle{
	height: 1em;
    width: 1.1em;
}
/* coupons */
.card-in>.vc_column-inner>.wpb_wrapper {
    border: var(--border-card);
}
.card-in .vc_row{
    align-items:center;
}
.card-in .wpb_content_element{
    margin-bottom:0;
}
.border-left{
    border-left:1px dashed #d3dbea !important;
}
.card-in small{
    margin-bottom: -15px !important;
    display: block;
}
.card-in figure{
    padding-left:15px;
}
.card-in p{
    padding:15px 15px 15px 0;
    margin-bottom:0 !important;
}
.card-in p.validity{
    background:var(--bg-card);
    margin-left:-15px;
    padding-left:15px;
}
/* knowdledge base */
@media (min-width: 576px) {
    #knowledge-base .col-md-4:first-of-type {
        flex: 0 0 100%;
        max-width: 100%;
    }
    #knowledge-base .col-md-4:first-of-type .post-block {
        display: flex;
        flex-direction: row-reverse;
        justify-content: stretch;
    }
    #knowledge-base .col-md-4:first-of-type .post-block>div{
        flex-grow:1;l
    }
    #knowledge-base .col-md-4:first-of-type .post-img {
        width: 55%;
        border: 1px solid #dee4ee;
        margin-left: -1px;
    }
}
.post-img img{
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    
}
/*---------- service pages-------------*/
div.section{
    margin-bottom:30px;
}

/*---------- login register-------------*/
.login-form-wrap{
    min-height: calc(100vh - 39px);
    justify-content:center;
    align-items: center;
}
.login-submit input[type="submit"],
.woocommerce #customer_login input.button,
.woocommerce #customer_login input.button:disabled[disabled] {
    width: 100%;
}
.woocommerce form .show-password-input {
    top: unset;
}
.login-wrap img{
    max-width:180px;
}
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit{
    float:none;
    margin: 0 auto;
    display: block;
}
/*---------- account dashboard-------------*/

.woocommerce .woocommerce-MyAccount-navigation {
    background: #f8f8f8;
}

.woocommerce .woocommerce-MyAccount-navigation ul {
    margin: 0;
    padding: 0;
}

.woocommerce .woocommerce-MyAccount-navigation ul li {
    list-style: none;
    border-bottom: 1px solid #ddd;
}

.woocommerce .woocommerce-MyAccount-navigation ul li:last-child {
    margin-bottom: 0;
    border: 0;
}

.woocommerce .woocommerce-MyAccount-navigation ul li a {
    color:inherit;
    display: block;
    padding: 15px 30px;
}

.woocommerce .woocommerce-MyAccount-navigation ul li a:hover,
.woocommerce .woocommerce-MyAccount-navigation ul li.is-active a {
    background-color: var(--primary);
    color: #fff;
}
.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text{
    height: 52px;
    padding: 6px 16px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    margin-bottom: 10px;
    border: 2px solid #e6ecef;
}

.woocommerce table.shop_table.account-orders-table th,
.woocommerce table.shop_table.account-orders-table td {
    padding: 10px 15px;
    font-size: 15px;
}

.woocommerce table.shop_table.account-orders-table th {
    padding: 18px 15px;
    font-weight: 500;
}
.woocommerce table.my_account_orders .button, .woocommerce-pagination--without-numbers a.woocommerce-button--next{ font-size:14px; padding:1em 2.1em;}
.woocommerce-pagination--without-numbers{ margin-top:30px;}
.woocommerce-Addresses {
    margin-top: 30px;
}

.woocommerce-Addresses header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 0 0 14px;
    box-shadow: none;
}

.woocommerce-Addresses header h3 {
    margin-bottom: 0;
    font-size: 24px;
}

.woocommerce .addresses .title .edit {
    font-size: 14px;
    padding-top: 8px;
}

.woocommerce .addresses .title .edit:before {
    content: "\f044";
    display: inline-block;
    padding-right: 3px;
    font-family: "Fontawesome";
}

table, th, td{
    border:none;
    border-spacing: 0;
}
.woocommerce table.shop_table,
.woocommerce .woocommerce-customer-details address{
    border-radius: 0;
}

.woocommerce table.shop_table>*:last-child>*:last-child{
    background: var(--bg-card);
}
.woocommerce .col-1{
    flex:none;
    max-width: initial;
}


/* add to cart buttons */
.add_to_cart_inline{
	border:none !important;
	padding:0 !important;
}
.add_to_cart_inline span{
    display: none;
}
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button{
    color: #fff;
    background-color: var(--accent);
    font-size: 14px;
    border-radius: 40px;
    line-height: 12px;
    padding: 20px 30px;
    text-transform: uppercase;
}
.woocommerce.add_to_cart_inline a.button[aria-label="Read more about “loans subscription”"] {
    display: none;
}
/* checkout page */
.woocommerce form .form-row label {
    font-weight: 500;
    margin-bottom: 5px;
    line-height: 1;
}

.woocommerce form .form-row {
	display:block;
    margin: 0 0 27px;
    padding: 0;
}

.woocommerce form #billing_address_1_field.form-row,
.woocommerce form #shipping_address_1_field.form-row {
    margin-bottom: 10px;
}

.woocommerce form .form-row .select2-container,
.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
    line-height: 1;
    height: initial;
    min-height: 38px;
}

.select2-container .select2-selection--single{
    min-height: initial;
    height: initial !important;
    border-radius: 0 !important;
    padding: 0.35em 0;
}
.address-field .select2-container .select2-selection--single {
    min-height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #a9a9a9;
}

.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
    width: 48%;
}

.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select {
    border-color: #86D270;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
.woocommerce form .form-row .select2-container--default .select2-selection--single{
	/*border:none;*/
	/*border-bottom: var(--border);*/
}	

.woocommerce form.checkout_coupon, 
.woocommerce form.login, 
.woocommerce form.register {
    border: none;
}

/* footer */

.tiny-footer img {
    height: 27px;
    margin: -6px 0;
}
.footer ul.menu{
    margin:0;
    list-style:none;
}
.footer ul.menu li{
    display:inline-block;
    padding:0 5px;
}
.footer a{
    color:inherit;
}				

body.home section .rate-counter-block {
    padding-top: 30px;
    padding-bottom: 30px;
}

body.home section .rate-counter-block .rate-icon {
    padding-top: 0;
}

#to-the-top {
    bottom: 75px;
}

.content-body-wrap .single-blog .content-body .post-related .related-img a img {
    width: 100%;
}

/* coupons */
.coupon-cards .container {
    max-width: 100%;
}
.coupon-cards .card-in {
    margin-bottom: 30px;
}
.coupon-cards .card-in p.validity {
    font-size: 0.75rem;
}
.coupon-cards .card-in p .coupon-title {
    font-weight: 700;
}

/* responsive */
@media (max-width: 1280px) {
    body.home section .rate-counter-block .rate-icon .icon-svg-1x {
        width: 50px;
    }
    
    /* knowledge base */
    .content-body-wrap .pinside30 #knowledge-base .post-block .outline {
        padding: 20px;
    }
    .content-body-wrap .pinside30 #knowledge-base .post-block .outline h2 {
        font-size: 1.125rem;
        line-height: 1.25;
    }
    .content-body-wrap .pinside30 #knowledge-base .post-block .outline p,
    .content-body-wrap .pinside30 #knowledge-base .post-block .outline > a {
        font-size: .75rem;
    }
    .card-in p {
        font-size: 1rem;
    }
}

@media (max-width: 991px) {
    .sticky-wrapper .sticky-header .logo {
        position: absolute;
    }

    .sticky-wrapper .sticky-header .navigation {
        max-width: 100%;
        flex: 100%;
    }
    
    .sticky-wrapper .sticky-header .navigation .small-screen #menu-button,
    #navigation.small-screen #menu-button {
        border-top: 0 !important;
        display: flex !important;
        align-items: center;
        height: 50px;
    }

    body.home section .pinside40 {
        padding: 20px;
    }

    body.home section .pinside40 p, body.home section .pinside40 a {
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .tiny-footer img {
        height: 22px;
    }
    .content-side-wrap {
        position: sticky;
        bottom: 0;
        z-index: 99999;
    }
    .content-side-wrap .content-side .widget .menu-sidebar-container ul#menu-sidebar {
        display: flex;
        border-top: 1px solid #d3dbea;
    }
    .content-side-wrap .content-side .menu-sidebar-container ul#menu-sidebar li {
        display: inline-block;
        width: 20%;
    }
    .content-side-wrap .content-side .widget-area .widget {
        margin-bottom: 0;
    }
    .content-side-wrap .content-side .menu-sidebar-container ul#menu-sidebar li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 0.65rem;
        line-height: 1;
    }
    .content-side-wrap .content-side .menu-sidebar-container ul#menu-sidebar li a i {
        margin: 5px 0 10px;
        font-size: 1.25rem;
    }
    .content-body-wrap .pinside30 .content-body .container {
        max-width: 100%;
    }
    .content-body-wrap .pinside30 .content-body .container .vc_column-inner {
        margin-bottom: 30px;
    }
    .content-body-wrap .content-body .coupon-cards .container .vc_column-inner {
        margin-bottom: 0;
    }
    body.page-template-page-loan-providers-js #top-provider .amt-range,
    body.page-template-page-loan-providers-js #top-provider .term-range,
    body.page-template-page-loan-providers-js #top-provider .interest-rate,
    body.page-template-page-loan-providers-js #top-provider .apr-range,
    body.page-template-page-loan-providers-js #providers-list .amt-range,
    body.page-template-page-loan-providers-js #providers-list .term-range,
    body.page-template-page-loan-providers-js #providers-list .interest-rate,
    body.page-template-page-loan-providers-js #providers-list .apr-range {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
    }
    body.page-template-page-loan-providers-js #providers-list h5.provider-name {
        margin: 20px 0;
    }
    body.page-template-page-loan-providers-js #providers-list .provider-url {
        display: flex;
        justify-content: flex-end;
    }
    /* loan calculator */
    #cp_calculatedfieldsf_pform_1 #fbuilder .cff-calculated-field {
        max-width: 100%;
        width: 100%;
    }
}

@media (max-width: 540px) {
    .tiny-footer p {
        text-align: center;
    }
}

@media (max-width: 375px) {
    body.home #fbuilder .top_aligned .fields label {
        width: 55%;
    }
}				